@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;300;400;600;700;900&family=Roboto:wght@100;300;400;700;900&display=swap');

$font-family:'Lato', sans-serif;
$font-size: 1.6rem;

$color-primary-light: #1d4d8783;
$color-primary: #1d4d87;
$color-primary-dark: #0f386a;

$color-secondary-light: #0eec7994;
$color-secondary: #24ad76;
$color-secondary-dark: #0c8f4c;

$color-tertiary-light: #f70ac85f;
$color-tertiary: #f70ac8a0;
$color-tertiary-dark: #f70ac8;   

$color-white: white;
$color-purple: #5a44ed;

$color-gray-1: #46444420;
$color-gray-2: #4644445c;
$color-gray-3: #464444a2;
$color-gray-4: #464444;

$color-black-1: #00000010;
$color-black-2: #00000020;
$color-black-3: #141414ec;
$color-black-4: black;

$color-blue-1: #16abff33;
$color-blue-2: #0883ffb2;
$color-blue-3: #0073ffe8;

$color-yellow-1: #bfb52e2d;
$color-yellow-2: #bfb62ea1;
$color-yellow-3: #bfb52e;

$color-red-1: #ff161633;
$color-red-2: #f60909b2;
$color-red-3: #ff0000e8;

$color-green-1: #48ff1653;
$color-green-2: #4aff087d;
$color-green-3: #44ad48e8;

$color-purple-1: #5b44ed88;
$color-purple-2: #6e5bedfe;
$color-purple-3: #5a44ed;