@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

h1 {
  color: v.$color-primary;
  font-size: v.$font-size + 2rem;
  text-align: center;
  text-transform: uppercase;

  @include m.responsive(phone) {
    font-size: v.$font-size + 1rem;
  }
}

h2 {
  color: v.$color-primary;
  font-size: v.$font-size + 1.7rem;

  @include m.responsive(phone) {
    font-size: v.$font-size + .7rem;
  }
}

h3 {
  color: v.$color-primary;
  font-size: v.$font-size + 1.4rem;

  @include m.responsive(phone) {
    font-size: v.$font-size + .4rem;
  }
}

h4 {
  color: v.$color-primary;
  font-size: v.$font-size + 1.1rem;

  @include m.responsive(phone) {
    font-size: v.$font-size + .1rem;
  }
}

h5 {
  color: v.$color-blue-3;
  font-size: v.$font-size + .8rem;

  @include m.responsive(phone) {
    font-size: v.$font-size - .1rem;
  }
}

h6 {
  color: v.$color-red-3;
  font-size: v.$font-size + .5rem;

  @include m.responsive(phone) {
    font-size: v.$font-size - .5rem;
  }
}

p {
  font-size: v.$font-size ;
}